// custom fonts
$font-family-base: 'Inter', sans-serif;
$headings-font-family: 'Playfair Display', serif;

// custom variable
$primary: #c29938;
$light: #fbf5e5;

// import the functions & variables
@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';

// hover effect for cards
.card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1) !important;
  }
}

// custom theme colours
$custom-theme-colors: (
  'altlight': #f2ebfa,
  'altdark': #522192,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';
